{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{%block content %}

<strong><h1>{{post.title}}</h1></strong>
<small>By: {{post.author.first_name}} {{post.author.last_name}}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small> / </small><small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    {% endif %}
{% endif %}
<br>
<br>
<h3>{{post.post_date|date:'M / d / y'}}</h3>
<br />
<strong>Category: <a href="{% url 'category' post.category %}">{{post.category}}</a></strong>
<hr />
<br />
{{post.body|safe}}
<br />
<br />

<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>

{% if user.is_authenticated %}
<br>
<br>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST" >
    {% csrf_token %}

    {% if liked %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm" >Unlike</button> - <strong>{{total_likes}} Likes</strong>
    {% else %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btn-sm" >Like</button> - <strong>{{total_likes}} Likes</strong>
    {% endif %}

</form>

{% else %}
<br>
<br>
<hr>

    <h4>You must <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to like posts. &#128572</h4>
    <strong>{{total_likes}} Likes</strong>

{% endif %}

{% endblock %}

