{% extends 'base.html' %}

{% block title %} Delete Post {% endblock %} 

{%block content%}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div class="content is-medium">
        <strong><h1>Delete Posts</h1></strong>
    </div>
        <br>
        <br>
        <h3>Delete: {{ post.title }}</h3>
        <br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure to delete this post?</strong>
                <br>
                <br>
                <button class="btn btn-secondary" >Delete!</button>
            </form>
        </div>
    {% else %}
        <h1>You are not allowed to delete this post!</h1>
    {% endif %}

{% else %}

<h1>You are not allowed to delete!</h1>

{% endif %}


{% endblock %}
