{% extends 'base.html' %} 

{% block title %} Home {% endblock %} 

{%block content%}

<h1>Post</h1>

<ul>
  {% for post in object_list %}

  <li>
    <strong><a class="fs-1" href="{% url 'article-detail' post.pk %}">{{post.title}}</a></strong>
    <br>
    Written by: <strong>{{post.author.first_name}} {{post.author.last_name}} </strong>
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
      - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small> /
      <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
      {% endif %}
    {% endif %}
    <br>
    <br>
    <strong>Category: <a href="{% url 'category' post.category %}">{{post.category}}</a></strong>
    <hr>
    <h6>{{post.post_date|date:'M / d / y'}}</h6>
    {{post.snippet}}
  </li>
  <br>

  {% endfor %}
</ul>

{% endblock %}
